@charset "UTF-8";

:root {
  --soft-black: #333;
  --soft-white: #f5f5f5;
}

* {
  box-sizing: border-box;
}

body,
.toggle-theme-button {
  transition: .3s ease-in;
}

body {
  background-color: var(--soft-white);
  background-color: #d5d5d5;
  color: var(--soft-black);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  background-color: #fff;
  border: 7px double var(--soft-black);
  border-radius: 9px;
  height: 204px;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle-theme-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.toggle-theme-button:hover {
  background-color: #d5d5d5;
  cursor: pointer;
}

.icon-theme {
  font-size: 1.5rem;
}

.bi-moon-fill {
  color: var(--soft-black);
}

.bi-sun-fill {
  color: var(--soft-white);
}

.time {
  font-size: 3.1rem;
  margin: 15px 0;
}

.date {
  font-size: 1.2rem;
}

/* Dark theme */

body.dark {
  background-color: var(--soft-black);
  color: var(--soft-white);
}

.clock.dark {
  background-color: #000;
  border-color: var(--soft-white);
}

.toggle-theme-button.dark:hover {
  background-color: #424242;
}